/* tombol ke halaman slot start */
.tombol {
	position: fixed;
	display: inline-block;
	overflow: hidden;
	border-radius: 8px;

	top: 50px;
	left: 100px;
	width: 100px;
	height: 40px;
    z-index: 555;
}

.tombol img {
	position: fixed;
	width: 10%;
	height: auto;
	margin-left: -100px;
	margin-top: -50px;
  	display: block;
}
/* tombol ke halaman slot end */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/tembok-bg.jpg');
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    width: calc(33.33% - 20px); /* Untuk mengatur tata letak pada layar desktop */
    margin: 10px;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.content {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #ffffffb3;
    border-radius: 0 0 10px 10px; /* Memberikan lengkungan pada bagian bawah judul */
    color: black;
}

.title h3 {
    margin: 0;
}

.card img {
    max-width: 100%;
    height: auto;
}





/* Media queries untuk tata letak responsif */
@media screen and (min-width: 200px) {
    .card {
        width: calc(90% - 20px); /* Pada layar Hp Kecil, dua kartu akan ditampilkan dalam satu baris */
        margin: 10px;
    }
}

@media screen and (minwidth: 300px) {
    .card {
        width: calc(70% - 20px); /* Pada layar Hp Besar, dua kartu akan ditampilkan dalam satu baris */
        margin: 10px;
    }
}

@media screen and (min-width: 600px) {
    .card {
        width: calc(50% - 20px); /* Pada layar tablet, dua kartu akan ditampilkan dalam satu baris */
        margin: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: calc(33.33% - 20px); /* Pada layar desktop, tiga kartu akan ditampilkan dalam satu baris */
    }
}
